auditwheel
build
cython
numpy
pip
pydata-sphinx-theme
pygments
pyparsing
pytest
ruamel.yaml
scikit-build
scons
setuptools
sphinx
sphinx-argparse
sphinxcontrib-doxylink
sphinxcontrib-matlabdomain
wheel