auditwheel
build
cython
numpy
pandas
pint
pip
pydata-sphinx-theme
pygments
pyparsing
pytest
ruamel.yaml
scikit-build
scipy
scons
setuptools
sphinx
sphinx-argparse
sphinxcontrib-doxylink
sphinxcontrib-matlabdomain
wheel